body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.calculator p {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.calculator {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.inputs input {
    width: 80%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buttons button {
    width: 20%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.result p {
    font-size: 1.2em;
    font-weight: bold;
}

button:hover {
    background-color: #f0f0f0;
}
